{% extends 'base.html' %}

{% block delete %}
<link rel="stylesheet" type="text/css" href="../../static/css/delete.css">

<div class="container">
    <div class="content">
        <h2 class="title">Confirmar Exclusão</h2>
        <div class="info">
            <p><strong>Nome:</strong> {{ app.nome }}</p>
            <p><strong>Idade:</strong> {{ app.idade }}</p>
            <p><strong>Cidade:</strong> {{ app.cidade }}</p>
        </div>
        <div class="confirmation">
            <p>Tem certeza que deseja excluir?</p>
            <div class="button-container">
                <form action="/app/deletar/{{ app.id }}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-yes">Sim</button>
                </form>
                <form action="/app/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-no">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
