<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
    }

    .container {
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    .button-edit, .button-delete {
        display: inline-block;
        padding: 8px 12px;
        margin: 2px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
    }

    .button-edit {
        background-color: #4CAF50;
    }

    .button-delete {
        background-color: #f44336;
    }

    .button-edit:hover, .button-delete:hover {
        background-color: #45a049;
    }

    .link {
        text-decoration: none;
        color: inherit; /* herda a cor do pai, que é definida no estilo .button-edit e .button-delete */
    }

    .link:hover {
        text-decoration: underline;
    }
</style>

{% extends 'base.html' %}

{% block content %}
<a href="/app/criar/" class="button-create">Criar Novo Usuário</a>

<div class="container">

<table border="1">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        {% if app %}
        {% for app_data in app %}
        <tr>
            <td>{{ app_data.nome }}</td>
            <td>{{ app_data.idade }}</td>
            <td>{{ app_data.cidade }}</td>
            <td><button class="button-edit"><a class="link" href="/app/editar/{{ app_data.id }}"><i class="fa fa-pencil"></i> Editar</a></button></td>
            <td><button class="button-delete"><a class="link" href="/app/deletar/delete/{{ app_data.id }}"><i class="fa fa-trash"></i> Excluir</a></button></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Não há registros</td>
        </tr>
        {% endif %}
    </tbody>
</table>

</div>

{% endblock %}
