{% load static%}

<section class="usuario-principal">
    <div class="perfil-foto">
        <div class="usuario-foto">
            <img src="" alt="">
        </div>
    </div>
    <div class="perfil-nome">
        <h1>{{usuario.nome}} {{usuario.sobrenome}}</h1>
        <p>{{usuario.email}}</p>
    </div>
</section>
<section class="usuario-informacoes">
    <h2>CPF</h2>
    <p>{{usuario.cpf}}</p>
<br>
    <h2>Data de Nascimento</h2>
    <p>{{usuario.data_nascimento}}</p>
<br>
    <h2>Data de Nascimento</h2>
    <p>{{usuario.data_nascimento}}</p>
</section>
<section class="usuario-mudar-informacoes is_desactive">
    <form action="#" method="post">
        {% csrf_token %}
        {{ form_usuario.as_p }}
        <input type="submit" value="Atualizar">
    </form>
</section>