<!-- Carregando arquivos -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- MetaDados -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- titulo da página -->
    <title> LeveAgua </title>
    
    <!-- Links de Estilo -->
    {% include 'features/links.html' %}

    <link rel="stylesheet" href="{% static 'styles/painel/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/headers/header_painel.css' %}">
    <link rel="stylesheet" href="{% static 'styles/asides/aside_painel.css' %}">
     
    <script src="{% static 'javascript/headers/header_default.js' %}"></script>

    <!-- Links de Estilo - Sessões -->
    <link rel="stylesheet" href="{% static 'styles/painel/inicio/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/painel/relatorios/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/painel/configuracoes/style.css' %}">

</head>
  <body>
    <!-- Header -->
    <header>
        {% include 'headers/header_painel.html' %}
    </header>

    <!-- Main -->
    <main class="main-painel">
        <!-- Aside (Navbar) -->
        <aside class="lateral-bar">
            {% include 'asides/aside_painel.html' %}
        </aside>
        <section class="conteudo">
          <section class="section-painel-inicio is_desactive">
            {% include 'painel/inicio/painel-inicio.html' %}
          </section>
          <section class="section-relatorios is_desactive">
            <h2>Criar Relatório de Consumo</h2>
            <form method="post">
              {% csrf_token %}
              {{ RelatorioCForm.as_p }}
              <button type="submit">Salvar</button>
            </form>
          </section>
          <section class="section-configurações is_desactive">

          </section>
          
        </section>
    </main>
  </body>
</html>
