{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% comment %} MetaDados {% endcomment %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% comment %} titulo da página {% endcomment %}
    {% block title %}
    
    {%endblock %}
    
    {% comment %} Links de Estilo {% endcomment %}
    <link rel="stylesheet" href="{% static 'Styles\default.css' %}" />

    <link rel="stylesheet" href="{% static 'Styles\blocks\block.css' %}" />

    <link rel="stylesheet" href="{% static 'Styles\elements/element.css' %}" />

    <link rel="stylesheet" href="{% static 'Styles\modifiers/disabled.css' %}" />
    <link rel="stylesheet" href="{% static 'Styles\modifiers/is-active.css' %}" />
    <link rel="stylesheet" href="{% static 'Styles\modifiers/themes/default-theme.css' %}" />
</head>
  <body class="body">
  </body>
</html>
