<!-- HTML Base -->

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- MetaDados -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- titulo da página -->
    <title> {% block titulo %}{% endblock %} </title>
    
    <!-- Links de Estilo -->
    <link rel="stylesheet" href="{% static 'Styles\default.css' %}" />

    <link rel="stylesheet" href="{% static 'Styles\blocks\block.css' %}" />

    <link rel="stylesheet" href="{% static 'Styles\elements/element.css' %}" />

    <link rel="stylesheet" href="{% static 'Styles\modifiers/disabled.css' %}" />
    <link rel="stylesheet" href="{% static 'Styles\modifiers/is-active.css' %}" />
    <link rel="stylesheet" href="{% static 'Styles\modifiers/themes/default-theme.css' %}" />
</head>
  <body>
    <header>
        {% block header%}
        {% endblock %}
    </header>
    <main>
        <!-- Seção 01 -->
        {% block secao_01 %}
        {% endblock %}

        <!-- Seção 02 -->
        {% block secao_02 %}
        {% endblock %}

        <!-- Seção 03 -->
        {% block secao_03 %}
        {% endblock %}

        <!-- Seção 04 -->
        {% block secao_04 %}
        {% endblock %}

        <!-- Seção 05 -->
        {% block secao_05 %}
        {% endblock %}

        <!-- Seção 06 -->
        {% block secao_06 %}
        {% endblock %}

        <!-- Seção 07 -->
        {% block secao_07 %}
        {% endblock %}

        <!-- Seção 08 -->
        {% block secao_08 %}
        {% endblock %}

        <!-- Seção 09 -->
        {% block secao_09 %}
        {% endblock %}

        <!-- Seção 10 -->
        {% block secao_10 %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
  </body>
</html>
